.home{
    background-color: white;
    padding: 40px;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    align-items: center;
    gap: 2%;
}
.home a{
    background-color: purple;
    color: white;
    border-radius: 30px;
    width: 90%;
    margin: 10px auto;
}
.home h2{
    color: purple;
    font-weight: 900;
    grid-column: 1 / 3;
}
.mainDiv{
    border-radius: 10px;
    position: relative;
}
.mainDiv img{
    width: 100%;
    border-radius: 10px;
}
.mainDiv::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
    border-radius: 10px;
}
.mainDiv h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    width: 90%;
    font-weight: 900;
    font-size: 2.5rem;
    color: whitesmoke;
}
.whoWeAre .main{
    padding: 20px 0;
    border-radius: 25px;
    background-color: white;
    border: 15px solid rgb(199, 195, 195);
}
.whoWeAre .main div{
    background-color: rgb(51, 9, 51);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 30px 10px 10px 5px;
}
.whoWeAre .main div p{
    color: white;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
}
footer h3{
    color: orange;
    font-size: 1rem;
}
footer p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}
footer span{
    color: red;
    font-size: 0.875rem;
}
footer div div{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
footer div div span{
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
}
@media only screen and (max-width: 998px){
    .home{
        display: block;
        padding: 10px;
    }
    .mainDiv h3{
        font-size: 1.4rem;
    }
}