body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  margin: 0;
}

.sidebar {
  background-color: #343a40;
  padding: 15px;
  height: calc(100vh - 50px);
  position: fixed;
  width: 200px;
  transition: width 0.3s;
  top: 25px;
}

.sidebar h2 {
  color: #ffffff;
}

.content {
  margin-left: 220px;
  margin-top: 25px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

/* a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
  padding: 10px 15px;
  border-radius: 4px;
  display: block;
} */

/* a:hover {
  background-color: #495057;
} */

a.active {
  font-weight: bold;
  background-color: #007bff;
  color: #ffffff;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    top: 0;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
  }
}

h3 {
  color: black;
  font-weight: bold;
}
