@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f1ecec;
}
/* Nav */
.custom-nav .collapse {
  justify-content: flex-end;
}
/* End of Nav */

.background {
  position: relative;
  width: 900px;
  right: -410px;
  top: 50px;
  background-image: url('./assets/home-banner-background.png'); /* Adjust the path if necessary */
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Full viewport height */
}
.banner {
  width: 550px;
}
/* Login */
.login {
  min-height: 100vh;
  align-items: center;
}

.login-form {
  background-color: floralwhite;
  padding: 30px;
  color: #230039;
}

.login h6 {
  margin-top: 16px;
}
/* End of Login */

/* Sign Up */

select {
  display: block;
  width: 200px;
  border: 1px solid rgb(228, 223, 223);

  padding: 2px 3px;
}
.signup-login {
  color: black;
  display: inline;
}
