@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0a192f;
  color: #ddd;
}

/* Nav */
.custom-nav .collapse {
  justify-content: flex-end;
}
/* End of Nav */

/* Login */
.login {
  min-height: 100vh;
  align-items: center;
}

.login-form {
  background-color: floralwhite;
  padding: 30px;
  color: #230039;
  border-radius: 5px;
}

.login h6 {
  margin-top: 16px;
}
/* End of Login */

/* Sign Up */

.register {
  min-height: 100vh;
  align-items: center;
}

.signup-form {
  background-color: floralwhite;
  padding: 30px;
  color: #230039;
  border-radius: 5px;
}

.register h6 {
  margin-top: 16px;
}
.required-field::after {
  content: ' *';
  color: red;
}

select {
  display: block;
  width: 200px;
  margin-bottom: 40px;
  border: 1px solid rgb(228, 223, 223);
  border-radius: 5px;
  padding: 2px 3px;
}
.signup-login {
  color: black;
  display: inline;
}
