* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #230039;
  color: #ddd;
}

/* Nav */
.custom-nav .collapse {
  justify-content: flex-end;
}
/* End of Nav */

/* Login */
.login {
  min-height: 100vh;
  align-items: center;
}

.login-form {
  background-color: floralwhite;
  padding: 30px;
  color: #230039;
  border-radius: 5px;
}

.login h6 {
  margin-top: 16px;
}
/* End of Login */

/* Sign Up */

.register {
  min-height: 100vh;
  align-items: center;
}

.signup-form {
  background-color: floralwhite;
  padding: 30px;
  color: #230039;
  border-radius: 5px;
}

.register h6 {
  margin-top: 16px;
}
/* End of sign up */
